<!DOCTYPE html>
<html>
<head>
    <title>Data Visualizer Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div class="ui inverted segment">
        <div class="ui inverted top fixed menu">
            <div class="item">
              <img src="https://www.nicepng.com/png/full/138-1386229_data-analytics-icon-black-and-white.png">
            </div>
            <a class="item">Home</a>
            <a class="item">Charts</a>
            <a class="item">Sign-in</a>
          </div>
          <p></p>
          <p></p>
    </div>
    <div class="ui container">
        <h1 class="centered">Data Visualizer Template</h1>
        <div>
            <div class="six wide column stackable">
                <div class="ui raised segment">
                    <div class="card-body">
                        <div class="centered" id="plot"></div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="six wide column stackable">
                <table class="ui table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in filler_data.data %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.age }}</td>
                            <td>{{ item.country }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script>
            var data = {{ fig_json | safe }};
            Plotly.newPlot('plot', data);
        </script>
    </body>
